openapi: 3.0.0
tags:
  - name: LUCA
  - name: Pathogenicity
info:
  title: Helix LUCA Pathogenicity API
  version: 0.10.1
  contact:
    email: info@helixlabs.ai
    url: 'https://helixlabs.ai'
  termsOfService: 'https://www.bio-prodict.com/static/pdf/general-terms-and-conditions-V20191130-bio-prodict.pdf'
  description: |-
    Documentation for the Helix Labs LUCA Pathogenicity Prediction API.

    The API is secured and you need credentials to be able to use it. We use the industry-standard OAuth2 protocol. For those of you who'd like more information about the ins and outs of OAuth2 please take a look here. Note that using the API is incredibly easy; you don't really need an in-depth understanding of OAuth2 to be able to use this API. This documentation contains all the information you need to get started! 

    Client access tokens
    --------------------

    We use the Auth0.com service to manage authentication and authorization. Please check that you have received a client_id and a client_secret before continuing. Retrieval of your access token is a two-step process:

    - Your application authenticates with Auth0 using its client_id and client_secret.
    - Auth0 validates this information and returns an access_token.

    Retrieving the access token for interaction with our API can be achieved by sending a request to the Auth0 authentication servers. Tokens have a lifespan of 24 hours. You need to re-acquire a new one before the old one runs out in order to keep using the API without interruption.


    ```
    curl --request POST \
      --url https://eggwhite.eu.auth0.com/oauth/token \
      --header 'content-type: application/json' \
      --data '{"client_id":"<client_id>","client_secret":<client_secret>, "audience":"api.luca.helixlabs.ai","grant_type":"client_credentials"}'
    ```

    Returns the following JSON response:

    ```
    { "access_token": "<access_token>", "expires_in": 86400, "token_type": "Bearer" }
    ```

    We recommend the requests library for Python for ease of use.

    API Usage
    ---------

    When you have acquired an API token, you need to include it in the Authorization header, preceded by the `Bearer` keyword.

    ```
    curl --request GET \
      --url https://api.luca.helixlabs.ai/transcripts \
      --header 'Authorization: Bearer <access_token>'
    ```
servers:
  - url: 'https://api.luca.helixlabs.ai'
paths:
  '/v1/transcripts/{protein_identifier}/predictions/{residue_number}/{variant_type}':
    get:
      summary: Retrieving a single variant
      tags:
        - Pathogenicity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  residue_type:
                    type: string
                    description: Wildtype amino acid
                  residue_number:
                    description: 1-based protein sequence number
                    type: integer
                  variant_type:
                    type: string
                    description: Variant amino acid type
                  source_max:
                    type: number
                    description: Highest sub-predictor prediction
                  source_min:
                    type: number
                    description: Highest sub-predictor prediction
                  spread:
                    type:
                      - number
                    description: Difference between highest and lowest sub-predictions. Can be interpreted as a measure of uncertainty.
                  transcript_id:
                    type: string
                    description: Ensembl transcript identifier
                  deleterious:
                    description: 'Value indicating deleteriousness. Value between 0 and 1, where a value between 0 and 0.5 means benign and a value between 0.5 and 1 means deleterious.'
                    type:
                      - number
                  effect_summary:
                    type: string
                    description: 'A simple summary of the prediction with assesment of the impact on the protein and the confidence in the prediction. The first is based on the ''deleterious'' score, the second is based on the ''spread'' score. Our spread indicates the distance between predictions of our subclassifiers in our ensemble. If the score is below 0.15, we determine that the results of the subclassifiers are concordant, resulting in "high confidence". Between 0.15 and 0.25 indicates "medium confidence" and scores above 0.25 indicate "low confidence".'
                  report_url:
                    type: string
                    description: A url that points towards the variant in the web interface.
              examples:
                Response example (JSON):
                  value:
                    deleterious: 0.07993299514055252
                    effect_summary: '0.0799, (benign, high confidence)'
                    residue_number: 110
                    residue_type: Gln
                    source_max: 0.09639390558004379
                    source_min: 0.09639390558004379
                    spread: 0
                    transcript_id: XP_504946.1
                    variant_type: Ala
                Response example (CSV):
                  value: 'residue_type,residue_number,variant_type,source_max,source_min,spread,transcript_id,deleterious,effect_summary Gln,110,Ala,0.096393906,0.096393906,0.0,DSM_HELIX.XP_504946.1,0.079932995,"0.0799, (benign, high confidence)"'
            application/xml:
              schema:
                type: object
                properties: {}
        '404':
          description: Will return a 404 error if the requested variant is not found.
      operationId: 'get-transcripts-string:transcript_id-predictions-int:residue_number-string:variant_type'
      description: |-
        You can use this simple endpoint for single variant retrieval.

        Effect summary
        --------------
        A simple summary of the prediction with assesment of the impact on the protein and the confidence in the prediction. The first is based on the 'deleterious' score, the second is based on the 'spread' score. Our spread indicates the distance between predictions of our subclassifiers in our ensemble. If the score is below 0.15, we determine that the results of the subclassifiers are concordant, resulting in "high confidence". Between 0.15 and 0.25 indicates "medium confidence" and scores above 0.25 indicate "low confidence".
      parameters:
        - schema:
            type: string
          in: query
          name: format
          description: 'Optional, the format in which you want to receive the result. This can be ''json'' or ''csv'' (''json'' is default).'
    parameters:
      - schema:
          type: integer
        name: residue_number
        in: path
        required: true
        description: A number indicating the residue in this transcript. Residue numbers start at 1.
      - schema:
          type: string
        name: variant_type
        in: path
        required: true
        description: The variant you would like to find the information for. Only 3 letter codes are accepted. Case insensitive.
      - schema:
          type: string
        name: protein_identifier
        in: path
        required: true
        description: 'The identifier indicating the protein, prefixed with XP_.'
  /v1/transcripts:
    get:
      summary: Transcripts overview
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Response Example:
                  value:
                    - ENST00000257700
                    - ENST00000259008
                    - ENST00000260947
                    - ENST00000261584
      operationId: get-transcripts
      description: Returns a full list of the proteins available on our API. Each of these can be used in other calls. Proteins are formatted as XP identifiers. This list is retrieved from the `/transcripts` endpoint.
      parameters:
        - schema:
            type: string
          in: query
          name: format
          description: 'Optional, the format in which you want to receive the result. This can be ''json'' or ''csv'' (''json'' is default).'
    parameters: []
  /v1/batch:
    post:
      tags:
        - Pathogenicity
      summary: Batch retrieval of variant predictions
      operationId: post-batch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    residue_type:
                      type: string
                      description: Wildtype amino acid
                    residue_number:
                      description: 1-based protein sequence number
                      type: integer
                    variant_type:
                      type: string
                      description: Variant amino acid type
                    source_max:
                      type: number
                      description: Highest sub-predictor prediction
                    source_min:
                      type: number
                      description: Highest sub-predictor prediction
                    spread:
                      type:
                        - number
                      description: Difference between highest and lowest sub-predictions. Can be interpreted as a measure of uncertainty.
                    transcript_id:
                      type: string
                      description: Ensembl transcript identifier
                    deleterious:
                      description: 'Value indicating deleteriousness. Value between 0 and 1, where a value between 0 and 0.5 means benign and a value between 0.5 and 1 means deleterious.'
                      type:
                        - number
                    effect_summary:
                      type: string
                      description: 'A simple summary of the prediction with assesment of the impact on the protein and the confidence in the prediction. The first is based on the ''deleterious'' score, the second is based on the ''spread'' score. Our spread indicates the distance between predictions of our subclassifiers in our ensemble. If the score is below 0.15, we determine that the results of the subclassifiers are concordant, resulting in "high confidence". Between 0.15 and 0.25 indicates "medium confidence" and scores above 0.25 indicate "low confidence".'
                    report_url:
                      type: string
                      description: A url that points towards the variant in the web interface.
      description: |
        Variants can also be retrieved in batches using the `/batch` endpoint. This is a POST only endpoint. Using this endpoint requires a newline-separated list of variant identifiers, composed of three values separated by slashes (/):


        - `transcriptId`: A transcript identifier, like those found in the /transcripts endpoint response.
        - `residueNumber`: A number indicating the residue in this transcript. Residue numbers start at 1.
        - `variantType`: The variant you would like to find the information for. Only 3 letter codes are accepted. Case insensitive.

        Example input:

        ```
        XP_504946.1/2/Pro
        XP_504946.1/4/Ala
        XP_502313.1/100/His
        ```

        **Effect summary**

        A simple summary of the prediction with assesment of the impact on the protein and the confidence in the prediction. The first is based on the 'deleterious' score, the second is based on the 'spread' score. Our spread indicates the distance between predictions of our subclassifiers in our ensemble. If the score is below 0.15, we determine that the results of the subclassifiers are concordant, resulting in "high confidence". Between 0.15 and 0.25 indicates "medium confidence" and scores above 0.25 indicate "low confidence".
      parameters:
        - schema:
            type: string
          in: query
          description: 'Optional, the format in which you want to receive the result. This can be ''json'' or ''csv'' (''json'' is default).'
          name: format
    parameters: []
  '/v1/transcripts/{protein_identifier}/predictions/{residue_number}':
    parameters:
      - schema:
          type: string
        name: protein_identifier
        in: path
        required: true
        description: 'The identifier indicating the protein, prefixed with XP_.'
      - schema:
          type: string
        name: residue_number
        in: path
        required: true
        description: A number indicating the residue in this transcript. Residue numbers start at 1.
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-v1-transcripts-protein_identifier-predictions-residue_number
      description: |-
        You can use this simple to retrieve predictions for all the variants on a position.

        Effect summary
        --------------
        A simple summary of the prediction with assesment of the impact on the protein and the confidence in the prediction. The first is based on the 'deleterious' score, the second is based on the 'spread' score. Our spread indicates the distance between predictions of our subclassifiers in our ensemble. If the score is below 0.15, we determine that the results of the subclassifiers are concordant, resulting in "high confidence". Between 0.15 and 0.25 indicates "medium confidence" and scores above 0.25 indicate "low confidence".
      parameters:
        - schema:
            type: string
          in: query
          name: format
          description: 'Optional, the format in which you want to receive the result. This can be ''json'' or ''csv'' (''json'' is default).'
components:
  schemas: {}
  securitySchemes:
    pathogenicity_api_sec:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
